@{
    ViewData["Title"] = "Home Page";
    ViewBag.Page1 = "Dashboard";
    ViewBag.Page2 = "Dashboard";
    ViewBag.Page3 = "Dashboard";
}

<div class="text-center">
    Dashboard, @User.Identity.Name
</div>
